---
import { markdownify } from "@/lib/utils/textConverter";
import BannerFeatureInner from "./BannerFeatureInner.astro";

const { bannerFeature } = Astro.props;
---

{
  bannerFeature?.enable && (
    <section class="mt-[-180px] lg:mt-[-200px] xl:mt-[-230px] relative z-10">
      <div class="container">
        <div class="row justify-center">
          {bannerFeature.feature_item.map(
            (item: {
              name: string;
              content: string;
              icon: string;
              link: string;
              sub_items: { name: string; content: string; icon: string }[];
            }) => (
              <a
                class="col-12 md:col-6 group mt-8"
                href={item.link}
                aria-label={item.name}
              >
                <BannerFeatureInner item={item} focusFeature={true} />
              </a>
            )
          )}
        </div>
      </div>
    </section>
  )
}
